node_modules/
.next/
.env
.env.local
backend/data/*.json
*.pdf
*.pptx
!storage/data/stats.json
!storage/data/timeline.json
!storage/data/users.json
!storage/data/inquiries.json
!storage/data/terminal.json
!storage/data/gallery.json
!storage/data/members.json
!storage/data/sponsors.json
!storage/data/media.json
!storage/data/events.json
